<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>posts</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="site">
			<header class="header">
				<div class="header__inner contain">
					<div class="header__logo">
						<a href="/">stdmic</a>
					</div>
					<nav class="header__nav nav" data-nav="nav">
						<ul class="nav__list">
							<li class="nav__item" data-nav="item">
								<a class="nav__link" data-nav="link"></a>
								<ul class="nav__subnav" data-nav="subnav">
									<li class="nav__item nav__item--sub" data-nav="subitem">
										<a class="nav__link nav__link--sub" data-nav="sublink"></a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</header>

			<main class="main">
				<div class="contain">
					<h1 data-edit="title">posts</h1>	
					<ul class="list" data-list="list">
						<li class="list__item" data-list="item">
							<a class="list__link" data-list="link">
								<span class="list__text" data-list="title"></span>
							</a>
						</li>
					</ul>
				</div>
			</main>
			
			<footer class="footer">
				<div class="footer__inner contain">
					<div class="footer__copy">
						&amp;copy; sanko 2022
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
