<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/style.css">
		<script src="/script.js" defer></script>
	</head>
	<body>
		<div class="site">
			<header id="header" class="header">
				<div class="header__inner contain">
					<div class="header__left">
						<button id="nav-open" class="header__nav-open">
							<span></span>
							<span></span>
						</button>
						<div class="header__title">
							<a href="/">stdmic</a>
						</div>
					</div>
					<button id="nav-close" class="header__nav-close">
						<div>
							<span></span>
							<span></span>
						</div>
					</button>
					<nav class="header__nav" data-nav="nav">
						<ul class="header__nav-list">
							<li class="header__nav-item" data-nav="item">
								<a class="header__nav-link" data-nav="link"></a>
								<ul class="header__nav-list header__nav-list--sub" data-nav="subnav">
									<li class="header__nav-item header__nav-item--sub" data-nav="subitem">
										<a class="header__nav-link header__nav-link--sub" data-nav="sublink"></a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</header>

			<main class="main">
				<div class="contain">
					<h1 class="main__heading" data-edit="heading"></h1>
					<div class="main__content" data-edit="content"></div>
				</div>
			</main>

			<hr>
			
			<footer class="footer">
				<div class="footer__inner contain">
					<div class="footer__copy">
						&amp;copy; sanko 2023
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
